<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <header>
        <div >
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
        </div>

        <div class="search">
            <input type="text" placeholder="Buscar productos, marcas">
            <div>
                <button>
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <p class="dues">
            <i class="fas fa-hand-holding-usd"></i>
            comprá en cuotas y sin tarjeta de crédito
        </p>

        <nav>
            <ul class="lista1">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>   
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda <i class="fas fa-user"></i></a></li>
            </ul>

            <ul>
                <li><a href="">Creá tu cuenta <i class="fas fa-credit-card"></i> </a></li>
                <li><a href="">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
        <div class="menu">
            <div class="burguer-menu">
                <i class="fas fa-bars"></i>
            </div>
    
        </div>
        
        <img class="banner" width=100% src="/images/img-home-banner.jpg" alt="Banner">

    </header>


    <main>
        <h3 class="visitas">basado en tu última visita</h3>
        <article>
            <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera-Moulinex">
            <p class="precio">$6670</p>
            <p class="descuento">40% off</p>
            <h3>cafetera moulinex</h3>
        </article>
        <article>
            <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Macbook">
            <p class="precio">$230.000</p>
            <p class="descuento">20% off</p>
            <h3>macbook pro 2019</h3>
        </article>
        <article>
            <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung-Galaxy-s10">
            <p class="precio">$70.500</p>
            <p class="descuento">10% off</p>
            <h3>samsung galaxy s10</h3>
        </article>
        <article>
            <img width="100%" src="images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
            <p class="precio">$23.200</p>
            <p class="descuento">5% off</p>
            <h3>SmartTv Samsung 43</h3>
        </article>


        <section>
            <h3 class="ofertas">Sección de ofertas</h3>

            <article>
                <img width="100%" src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <p class="precio">$6770</p>
                <p class="descuento">40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </article>
            <article>
                <img width="100%" src="/images/img-macbook-pro-2019.jpg" alt="Imagen de MacBook">
                <p class="precio">$230.000</p>
                <p class="descuento"> 20% OFF</p>
                <h3>MacBook Pro 2019</h3>
            </article>
            <article>
                <img width="100%" src="/images/img-samsung-galaxy-s10.jpg" alt="Imagen del Samsung Galaxy">
                <p class="precio">$70.500</p>
                <p class="descuento">10% OFF</p>
                <h3>Samsung Galaxy S10</h3>
            </article>
            <article>
                <img width="100%" src="/images/img-tv-samsung-smart.jpg" alt="Imagen del SmartTv">
                <p class="precio">$23.200</p>
                <p class="descuento">5% OFF</p>
                <h3>SmartTv Samsung 43"</h3>
            </article>

        </section>
    </main>


    <footer>
        <section>
            <div>
                <i class="fas fa-credit-card"></i>
            </div>
            <h3>Pagá con tarjeta o en efetivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro
            </p>
        </section>

        <section>
            <div>
                <i class="fas fa-gift"></i>
            </div>
            <h3>
                Envío gratis desde $ 2.500
            </h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.

            </p>
        </section>

        <section>
            <div>
                <i class="fas fa-user-shield"></i>
            </div>
            <h3>Seguridad, de principio a fin </h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@. </p>

        </section>

        <div class="copy">
            <small>
                Copyright © 1999-2020 MercadoLiebre S.R.L.
            </small>
        </div>
    </footer>

</body>

</html>