footer{
    background-color: white;
    padding: 10px 0;
}
footer section {
    text-align: center;
    margin: 35px 30px
    }
    
    footer section div i {
        color:var(--lightBlue);
        font-size: 28px;
    }
    
    footer small{
        margin-left: 15px;
        display: block;
        margin-bottom: 15px;
    }
