a{
    text-decoration: none;
}

li{
    list-style: none;
}


.logo{
    width: 35%;
    margin: 24px 0px 10px 24px;
    /* margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 10px; */
}

.search{
    margin-left: 15px;
    margin-bottom: 5px;
}

.dues{
   /*  margin: 10px 0 10px 40px; */
   text-align: center;
}

a{
  color:black;
 
}
.lista1 {
    margin-bottom: 15px;
}

.menu i{
    padding: 10px;
    background-color: var(--lightBlue);
    color: white;
    border-radius: 10%;
    margin: 20px 45% 20px;
    font-size: 18px;
}
.banner{
    display: none;
}
header nav ul li{
    display:none
}
@media(min-width:361px){
    .menu i{
        display:none;
    }
    header nav ul li{
        display:block
    }
}